process {
    withLabel: qc {
        cpus   = 4
        memory = 16.GB
        time   = 2.h
    }

    withLabel: assembly {
        cpus   = 32
        memory = 192.GB
        time   = 12.h
    }

    withLabel: mapping {
        cpus   = 16
        memory = 96.GB
        time   = 6.h
    }

    withLabel: heavy_qc {
        cpus   = 32
        memory = 256.GB
        time   = 48.h
    }

    withLabel: gene {
        cpus   = 16
        memory = 160.GB
        time   = 48.h
    }

    withLabel: annotation {
        cpus   = 16
        memory = 128.GB
        time   = 24.h
    }

    withLabel: report {
        cpus   = 4
        memory = 16.GB
        time   = 2.h
    }
}
